{
 mach/import [["https://github.com/DomainDrivenArchitecture/dda-cloudspec/blob/master/mach_extensions/common.edn"]]

 mach/props [terraform-build-dir (str build-dir "/terraform")
             terraform-main-src-dir (str main-src-dir "/terraform")]

 mk-terraform-build-dir
  {depends [mk-build-dir]
   product terraform-build-dir
   novelty (not (mach.core/file-exists? product))
   update! #$ ["mkdir" product]
   clean! #$ ["rmdir" product]}

 prepare-terraform-build-dir
  {depends [mk-terraform-build-dir]
   product terraform-build-dir
   novelty (mach.core/modified-since product terraform-main-src-dir)
   update! #$ ["cp" "-r" (str terraform-main-src-dir "/*") product]
   clean! #$ ["rm" "-rf" (str product "/*")]}

 terraform-get
  {depends [prepare-terraform-build-dir]
   product (str terraform-build-dir "/.terraform")
   novelty (or
             (not (mach.core/file-exists? product))
             (mach.core/modified-since product terraform-main-src-dir))
   update! #$ ["cd" terraform-build-dir "&&"
               "terraform" "get"] ;">" "/dev/null"
   clean! #$ ["rm" "-rf" product]}

 terraform-plan
  {depends [terraform-get]
   product (str terraform-build-dir "/proposed.plan")
   update! #$ ["cd" terraform-build-dir "&&"
               "terraform" "plan" "-out" "proposed.plan"]
   clean! #$ ["rm" product]}

 terraform-apply
  {depends [terraform-plan]
   product (str terraform-build-dir "/output.json")
   update! #$ ["cd" terraform-build-dir "&&"
               "terraform" "apply" "-auto-approve" "-input=false" "proposed.plan" "&&"
               "terraform" "output" "-json" ">" "output.json"]
   clean! #$ ["rm" product]}

 terraform-plan-destroy
  {depends [terraform-get]
   product (str terraform-build-dir "/proposed.plan")
   update! #$ ["cd" terraform-build-dir "&&"
               "terraform" "plan" "-destroy" "-out" "proposed.plan"]
   clean! #$ ["rm" product]}

 terraform-destroy
  {depends [terraform-plan-destroy]
   product (str terraform-build-dir "/output.json")
   update! #$ ["cd" terraform-build-dir "&&"
               "terraform" "apply" "-auto-approve" "-input=false" "proposed.plan" "&&"
               "echo ''" ">" "output.json"]
   clean! #$ ["rm" product]}

 not-working-remote-config #$ ["terraform" "remote" "config" "-backend=s3" (str "-backend-config=\"bucket=" bucket "\"")  "-backend-config=\"key=terraform.tfstate\"" "-backend-config=\"region=eu-west-1\"" "-backend-config=\"encrypt=true\"" (if (not-empty aws-profile) (str "-backend-config=\"profile=" aws-profile "\"") "")]}
